header{
    margin-top: 50px;
    margin-bottom: 30px;
}

.title input{
  width: 300px;
  margin-right: 10px;
    
}
.LHTML ,.LCSS, .LJAVA, .LPHP{
    position: relative;
}
.LHTML h3{
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;
    color: red;

}
.LHTML .status, .LCSS .status, .LJAVA .status, .LPHP .status{
    right: 0;
    top: 0;
    position: absolute;
    display: none;

}
 h3:hover + .status{
    display: block;
    
    
}

 
 .status .done{
    color: green;

}
.status .delete{
    color: red;
}

.LCSS h3{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    color: green;

}
.font-size-16 h3{
    font-size: 16px;
}
